## 전처리

In [1]:
import pandas as pd
df = pd.read_csv('E:/BD_Class/BD_Class/Project/4차/어린이집_전체.csv', index_col=False)
df = df.iloc[:,1:24]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415868 entries, 0 to 415867
Data columns (total 23 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   시도        415868 non-null  object
 1   시군구       415868 non-null  object
 2   어린이집명     415868 non-null  object
 3   어린이집유형    415868 non-null  object
 4   운영현황      415755 non-null  object
 5   우편번호      415868 non-null  int64
 6   주소        415868 non-null  object
 7   전화번호      415868 non-null  object
 8   팩스번호      415868 non-null  object
 9   보육실수      415868 non-null  int64
 10  보육실면적     415868 non-null  int64
 11  놀이터수      415868 non-null  int64
 12  보육교직원수    415868 non-null  int64
 13  정원        415868 non-null  int64
 14  현원        415868 non-null  int64
 15  위도        385696 non-null  float64
 16  경도        385696 non-null  float64
 17  통학차량운영여부  377482 non-null  object
 18  홈페이지주소    115924 non-null  object
 19  인가일자      415052 non-null  object
 20  휴지시작일자    9066 non-null    object
 21  휴지종료일자    8534 non-null    object
 22  폐지일자      117476 non-null  object
dtypes: float64(2), int64(7), object(14)
memory usage: 73.0+ MB

In [2]:
cls = ['sido', 'sigungu', 'name', 'ty_pe', 'ops', 'post', 'adr', 'phone', 'fax', 'rooms', 'sqm', 'playground',
 'teachers', 'no_capa', 'no_enroll', 'lng', 'lon', 'bus', 'web', 's_d', 'brk_s_d', 'brk_e_d', 'e_d']
df.columns = cls # db 변환 위해 컬럼명 영어로 변경
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415868 entries, 0 to 415867
Data columns (total 23 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   sido        415868 non-null  object
 1   sigungu     415868 non-null  object
 2   name        415868 non-null  object
 3   ty_pe       415868 non-null  object
 4   ops         415755 non-null  object
 5   post        415868 non-null  int64
 6   adr         415868 non-null  object
 7   phone       415868 non-null  object
 8   fax         415868 non-null  object
 9   rooms       415868 non-null  int64
 10  sqm         415868 non-null  int64
 11  playground  415868 non-null  int64
 12  teachers    415868 non-null  int64
 13  no_capa     415868 non-null  int64
 14  no_enroll   415868 non-null  int64
 15  lng         385696 non-null  float64
 16  lon         385696 non-null  float64
 17  bus         377482 non-null  object
 18  web         115924 non-null  object
 19  s_d         415052 non-null  object
 20  brk_s_d     9066 non-null    object
 21  brk_e_d     8534 non-null    object
 22  e_d         117476 non-null  object
dtypes: float64(2), int64(7), object(14)
memory usage: 73.0+ MB

In [6]:
# cls = ['sido', 'sigungu','dong', 'name', 'ty_pe', 'ops', 'post', 'adr', 'phone', 'fax', 'rooms', 'sqm', 'playground',
#  'teachers', 'no_capa', 'no_enroll', 'lng', 'lon', 'bus', 'web', 's_d', 'brk_s_d', 'brk_e_d', 'e_d','ops_day']
cls = ['sido', 'sigungu', 'name', 'ty_pe', 'ops', 'post', 'adr', 'phone', 'fax', 'rooms', 'sqm', 'playground',
 'teachers', 'no_capa', 'no_enroll', 'lng', 'lon', 'bus', 'web', 's_d', 'brk_s_d', 'brk_e_d', 'e_d']
df.columns = cls # db 변환 위해 컬럼명 영어로 변경
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415868 entries, 0 to 415867
Data columns (total 23 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   sido        415868 non-null  object
 1   sigungu     415868 non-null  object
 2   name        415868 non-null  object
 3   ty_pe       415868 non-null  object
 4   ops         415755 non-null  object
 5   post        415868 non-null  int64
 6   adr         415868 non-null  object
 7   phone       415868 non-null  object
 8   fax         415868 non-null  object
 9   rooms       415868 non-null  int64
 10  sqm         415868 non-null  int64
 11  playground  415868 non-null  int64
 12  teachers    415868 non-null  int64
 13  no_capa     415868 non-null  int64
 14  no_enroll   415868 non-null  int64
 15  lng         385696 non-null  float64
 16  lon         385696 non-null  float64
 17  bus         377482 non-null  object
 18  web         115924 non-null  object
 19  s_d         415052 non-null  object
 20  brk_s_d     9066 non-null    object
 21  brk_e_d     8534 non-null    object
 22  e_d         117476 non-null  object
dtypes: float64(2), int64(7), object(14)
memory usage: 73.0+ MB

In [7]:
import pandas as pd
df = pd.read_csv(r'C:\Users\tjoeun\Desktop\0925\어린이집_전체_수식제거.csv', index_col=False, encoding = 'ansi')
df = df.iloc[:,1:]
cls = ['sido', 'sigungu','dong', 'name', 'ty_pe', 'ops', 'post', 'adr', 'phone', 'fax', 'rooms', 'sqm', 'playground',
 'teachers', 'no_capa', 'no_enroll', 'lng', 'lon', 'bus', 'web', 's_d', 'brk_s_d', 'brk_e_d', 'e_d','ops_day']
df.columns = cls # db 변환 위해 컬럼명 영어로 변경
df.info()

C:\Users\tjoeun\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415868 entries, 0 to 415867
Data columns (total 25 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   sido        415868 non-null  object
 1   sigungu     415868 non-null  object
 2   dong        395785 non-null  object
 3   name        415868 non-null  object
 4   ty_pe       415868 non-null  object
 5   ops         415868 non-null  object
 6   post        415868 non-null  int64
 7   adr         415868 non-null  object
 8   phone       415868 non-null  object
 9   fax         415868 non-null  object
 10  rooms       415868 non-null  int64
 11  sqm         415868 non-null  int64
 12  playground  415868 non-null  int64
 13  teachers    415868 non-null  int64
 14  no_capa     415868 non-null  int64
 15  no_enroll   415868 non-null  int64
 16  lng         407076 non-null  object
 17  lon         407076 non-null  object
 18  bus         377482 non-null  object
 19  web         115924 non-null  object
 20  s_d         415052 non-null  object
 21  brk_s_d     9066 non-null    object
 22  brk_e_d     8534 non-null    object
 23  e_d         117476 non-null  object
 24  ops_day     415868 non-null  object
dtypes: int64(7), object(18)
memory usage: 79.3+ MB

In [31]:
# 날짜, 숫자 변환 함수
def dt(name):
    df[name] = pd.to_datetime(df[name]) # 날짜로 변환
def it(name):
    df[name] = df[name].astype(int) # 정수로 변환
def fl(name):
    df[name] = df[name].astype(float) # 실수로 변환
def com(name):
    df[name] = df[name].apply(lambda x : x.replace(',','')) # 쉼표 없애줌

In [32]:
# li_f = df.columns.to_list() # 변경 원하는 컬럼을 리스트로 담아줌
li_d = [ 's_d', 'brk_s_d', 'brk_e_d', 'e_d','ops_day']

In [33]:
for i in li_d: #컬럼별로 돌아가면서 일괄 변환
    dt(i)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415868 entries, 0 to 415867
Data columns (total 25 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   sido        415868 non-null  object
 1   sigungu     415868 non-null  object
 2   dong        395785 non-null  object
 3   name        415868 non-null  object
 4   ty_pe       415868 non-null  object
 5   ops         415868 non-null  object
 6   post        415868 non-null  int64
 7   adr         415868 non-null  object
 8   phone       415868 non-null  object
 9   fax         415868 non-null  object
 10  rooms       415868 non-null  int64
 11  sqm         415868 non-null  int64
 12  playground  415868 non-null  int64
 13  teachers    415868 non-null  int64
 14  no_capa     415868 non-null  int64
 15  no_enroll   415868 non-null  int64
 16  lng         407076 non-null  object
 17  lon         407076 non-null  object
 18  bus         377482 non-null  object
 19  web         115924 non-null  object
 20  s_d         415052 non-null  datetime64[ns]
 21  brk_s_d     9066 non-null    datetime64[ns]
 22  brk_e_d     8534 non-null    datetime64[ns]
 23  e_d         117476 non-null  datetime64[ns]
 24  ops_day     415868 non-null  datetime64[ns]
dtypes: datetime64[ns](5), int64(7), object(13)
memory usage: 79.3+ MB

In [34]:
df_ops = df[df.ops==('정상' or '재개')]

## DB로 보내고 끌어오기

In [37]:
# 필수 param 만들기
import pymysql
url = 'bigdata.cpnqnxkxfbaf.ap-northeast-2.rds.amazonaws.com' 
usr = 'bigdata'
pwd = 'bigdata2020'
db = 'bigdata'
charset = 'utf8'

In [36]:
# 데이터 db로 보내기
from sqlalchemy import create_engine

pymysql.install_as_MySQLdb()

engine = create_engine(f'mysql://{usr}:{pwd}@{url}:3306/{db}')
df_ops.to_sql(name='chome', con=engine, if_exists='append', index=False)

In [40]:
# 데이터 db에서 가져오기
# conn = pymysql.connect(host=url, user=usr,
#                password=pwd, db=db, charset=charset) # db 연결
# cursor = conn.cursor()  # 작업용 연결객체 생성

sql =f'select ops_day 운영년월,sigungu 구,dong 동 ,no_capa 정원,no_enroll 현원 from chome c group by dong where {gu};'
mdata = pd.read_sql_query(sql,engine)
mdata.to_csv('{}')

In [41]:
mdata

          운영년월     구     동   정원   현원
0   2017-03-31   마포구  None  199   48
1   2016-09-30   용산구  가락1동   19   17
2   2016-09-30   종로구  가락2동   39   37
3   2016-09-30   광진구   가락동   20   19
4   2016-09-30   강서구  가락본동   30   28
..         ...   ...   ...  ...  ...
624 2016-09-30   용산구   후암동   86   79
625 2016-09-30  동대문구  휘경1동   23   15
626 2016-09-30  동대문구  휘경2동   36   25
627 2016-09-30  동대문구   휘경동   99   81
628 2016-09-30   동작구   흑석동  131  122

[629 rows x 5 columns]