<a href="https://colab.research.google.com/github/Jungsan005/Bigdata-Class/blob/master/%EC%98%81%EC%9C%A0%EC%95%84pjt_TableMerge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [268]:
import pandas as pd
import numpy as np

In [317]:
url_baby = 'https://raw.githubusercontent.com/Jungsan005/Bigdata-Class/master/datasets/pop_day.csv'
url_capa = 'https://raw.githubusercontent.com/Jungsan005/Bigdata-Class/master/datasets/%EC%9C%A0%EC%B9%98%EC%9B%90db_pivot.csv'
url_hprice = 'https://raw.githubusercontent.com/Jungsan005/Bigdata-Class/master/2010_2019%20%EC%84%9C%EC%9A%B8%EC%8B%9C%20%EB%B6%80%EB%8F%99%EC%82%B0%20%EB%A7%A4%EB%A7%A4%20%ED%8F%89%EB%8B%B9%EA%B0%80%EA%B2%A92.csv'
url_hrent = 'https://raw.githubusercontent.com/Jungsan005/Bigdata-Class/master/datasets/%EC%A0%84%EC%9B%94%EC%84%B8%ED%8F%89%EB%8B%B9%EA%B8%88%EC%95%A1.csv'

In [270]:
df_baby = pd.read_csv(url_baby)
df_baby.index = df_baby['Unnamed: 0']
df_baby = df_baby.drop('Unnamed: 0',axis=1)
df_baby_1 = df_baby.stack(level=-1) # stack 화
df_baby_2 = df_baby_1.apply(pd.Series) # series를 df로 변환
df_baby_3 = df_baby_2.reset_index() # multi index 해제
df_baby = df_baby_3
df_baby.columns = ['date','gu','baby'] #raw 형태의 데이터 완성

In [315]:
df_baby_2

                      0
Unnamed: 0
2010-01    종로구   6420.0
           중구    5725.0
           용산구  11797.0
           성동구  16416.0
           광진구  17564.0
...                 ...
2019-12    관악구  14442.0
           서초구  18455.0
           강남구  19341.0
           송파구  30111.0
           강동구  18013.0

[3000 rows x 1 columns]

In [271]:
f_flt = pd.read_csv(url_capa, encoding = 'euc-kr',header=1)

df_flt_cap = df_flt.iloc[1:,:26]
df_flt_cap['date'] = df_flt_cap.sigungu.apply(lambda x : x[:7])
df_flt_cap = df_flt_cap.drop('sigungu', axis=1)

df_flt_cur = pd.read_csv(url_capa, encoding = 'euc-kr',header=1).iloc[1:,26:51]
df_flt_cur['date'] = df_flt_cap['date']
df_flt_ratio = pd.read_csv(url_capa, encoding = 'euc-kr',header=1).iloc[1:,51:]
df_flt_ratio['date']  = df_flt_cap['date']

df_flt_cur.columns = df_flt_cap.columns
df_flt_ratio.columns = df_flt_cap.columns

In [272]:
df_flt_cap.index = df_flt_cap['date']
df_flt_cap = df_flt_cap.drop('date',axis=1)
df_flt_cap = df_flt_cap.stack(level = -1)
df_flt_cap = df_flt_cap.apply(pd.Series)
df_flt_cap = df_flt_cap.reset_index()

df_flt_cap.columns = ['date','gu','어린이집_정원']

In [273]:
df_flt_cur.index = df_flt_cur['date']
df_flt_cur = df_flt_cur.drop('date',axis=1)
df_flt_cur = df_flt_cur.stack(level = -1)
df_flt_cur = df_flt_cur.apply(pd.Series)
df_flt_cur = df_flt_cur.reset_index()

df_flt_cur.columns = ['date','gu','어린이집_현원']

In [274]:
df_flt_ratio.index = df_flt_ratio['date']
df_flt_ratio = df_flt_ratio.drop('date',axis=1)
df_flt_ratio = df_flt_ratio.stack(level = -1)
df_flt_ratio = df_flt_ratio.apply(pd.Series)
df_flt_ratio = df_flt_ratio.reset_index()

df_flt_ratio.columns = ['date','gu','어린이집_정원률']

In [275]:
df = pd.merge(df_baby,df_flt_ratio,how='inner',on=['date','gu'])
df = pd.merge(df,df_flt_cur,how='inner',on=['date','gu'])
df = pd.merge(df,df_flt_cap,how='inner',on=['date','gu'])

In [276]:
df

        date   gu     baby  어린이집_정원률  어린이집_현원  어린이집_정원
0    2016-09  종로구   5225.0  0.793885   3921.0   4939.0
1    2016-09   중구   5126.0  0.842245   3481.0   4133.0
2    2016-09  용산구  10108.0  0.888597   4730.0   5323.0
3    2016-09  성동구  14735.0  0.865920   6962.0   8040.0
4    2016-09  광진구  15443.0  0.860475   7709.0   8959.0
..       ...  ...      ...       ...      ...      ...
995  2019-12  관악구  14442.0  0.825807   9107.0  11028.0
996  2019-12  서초구  18455.0  0.864407   8976.0  10384.0
997  2019-12  강남구  19341.0  0.825850   8958.0  10847.0
998  2019-12  송파구  30111.0  0.919213  15520.0  16884.0
999  2019-12  강동구  18013.0  0.883233  10809.0  12238.0

[1000 rows x 6 columns]

In [306]:
df_hprice = pd.read_csv(url_hprice)
df_hprice['date'] = df_hprice.year.apply(lambda x : str(x)) +'-' + df_hprice.month.apply(lambda x : str(x).zfill(2))

df_hprice = df_hprice.drop(['year','month'],axis=1)
df_hprice_A = df_hprice[df_hprice.kind == 1]
df_hprice_A = df_hprice.drop('kind',axis=1)
df_hprice_A.columns = ['gu',	'평당매매/타입1',	'date']

df_hprice_A = df_hprice_A['평당매매/타입1'].groupby([df_hprice_A['gu'],df_hprice_A['date']]).mean().apply(pd.Series)
df_hprice_A = df_hprice_A.reset_index()
df_hprice_A.columns = ['gu','date',	'평당매매/타입1']


df_hprice_B = df_hprice[df_hprice.kind == 2]
df_hprice_B = df_hprice.drop('kind',axis=1)
df_hprice_B.columns = ['gu',	'평당매매/타입2',	'date']

df_hprice_B = df_hprice_B['평당매매/타입2'].groupby([df_hprice_B['gu'],df_hprice_B['date']]).mean().apply(pd.Series)
df_hprice_B = df_hprice_B.reset_index()
df_hprice_B.columns = ['gu','date',	'평당매매/타입2']

df_hprice_C = df_hprice[df_hprice.kind == 3]
df_hprice_C = df_hprice.drop('kind',axis=1)
df_hprice_C.columns = ['gu',	'평당매매/타입3',	'date']

df_hprice_C = df_hprice_C['평당매매/타입3'].groupby([df_hprice_C['gu'],df_hprice_C['date']]).mean().apply(pd.Series)
df_hprice_C = df_hprice_C.reset_index()
df_hprice_C.columns = ['gu','date',	'평당매매/타입3']


df_hprice_D = df_hprice[df_hprice.kind == 4]
df_hprice_D = df_hprice.drop('kind',axis=1)
df_hprice_D.columns = ['gu',	'평당매매/타입4',	'date']

df_hprice_D = df_hprice_D['평당매매/타입4'].groupby([df_hprice_D['gu'],df_hprice_D['date']]).mean().apply(pd.Series)
df_hprice_D = df_hprice_D.reset_index()
df_hprice_D.columns = ['gu','date',	'평당매매/타입4']

In [308]:
df = pd.merge(df,df_hprice_A,how='inner',on=['date','gu'])
df = pd.merge(df,df_hprice_B,how='inner',on=['date','gu'])
df = pd.merge(df,df_hprice_C,how='inner',on=['date','gu'])
df = pd.merge(df,df_hprice_D,how='inner',on=['date','gu'])

In [309]:
df

        date   gu     baby  어린이집_정원률  ...  평당매매/타입1  평당매매/타입2  평당매매/타입3  평당매매/타입4
0    2016-09  종로구   5225.0  0.793885  ...   666.925   666.925   666.925   666.925
1    2016-09   중구   5126.0  0.842245  ...   636.025   636.025   636.025   636.025
2    2016-09  용산구  10108.0  0.888597  ...   829.275   829.275   829.275   829.275
3    2016-09  성동구  14735.0  0.865920  ...   626.850   626.850   626.850   626.850
4    2016-09  광진구  15443.0  0.860475  ...   592.500   592.500   592.500   592.500
..       ...  ...      ...       ...  ...       ...       ...       ...       ...
995  2019-12  관악구  14442.0  0.825807  ...   668.600   668.600   668.600   668.600
996  2019-12  서초구  18455.0  0.864407  ...  1134.450  1134.450  1134.450  1134.450
997  2019-12  강남구  19341.0  0.825850  ...  1291.675  1291.675  1291.675  1291.675
998  2019-12  송파구  30111.0  0.919213  ...   899.875   899.875   899.875   899.875
999  2019-12  강동구  18013.0  0.883233  ...   730.275   730.275   730.275   730.275

[1000 rows x 10 columns]

In [320]:
df_hrent = pd.read_csv(url_hrent,index_col=0)

In [322]:
df = pd.merge(df,df_hrent,how='inner',on=['date','gu'])

In [323]:
df.to_csv('itg_table.csv')